<%= form_with(url: book_reviews_path, method: "get", local: true) do |form| %>
  <div class="field">
    <%= form.label :title, "Search by Title:" %>
    <%= form.text_field :title, id: "book_review_title" %>
  </div>
  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>