<div class="container-lg">
  <div class="container-md text-center">
    <h1>New Portfolio</h1>
  </div>

  <%= render "form", portfolio: @portfolio %>

  <br>

  <div>
    <%= link_to "Cancel", portfolios_path, class: 'btn btn-secondary' %>
  </div>
</div>