<div class="container d-flex justify-content-end g-2">
<hr class="social-line"/>
</div>

<div class="container-lg text-end">
    <p class= "text-sm">Social</p>
</div>

<div class="container-lg  text-center">
    <h1 class="my-5">Tyler Fedrick</h1>
</div>

