<div class="container justify-content-end">

</div>

<div class="container d-flex justify-content-end g-2">
<hr class="social-line d-flex"/>
</div>

<div class="container-lg text-end social-text">
    <p class= "text-sm">Social</p>
</div>

<div class="container-lg  text-center tfedrick-header">
    <h1 class="my-5">Tyler Fedrick</h1>
</div>

