<div class="container-md">
    <div class="row">
        <div class="col-6">
        <%= image_tag("2023_Headshot.jpeg", alt: "Tyler's Headshot", class: "img-fluid") %>
        </div>
        <div class="col-6">
        Tyler Fedrick is a disciplined self-starter with over 8 years of finance, auditing, and compliance-related experience.
         Due to his experience in the finance industry and the completion of his MBA at the top of his class, he now excels in completing work in both a position within a team setting and a position without direct supervision. He has learned what it takes to lead annual audits in a highly regulated industry.
            <ul>
                <li>Expert in decentralized command, teamwork, and delegating tasks. Each week I host weekly online training and compliance overviews for over 300 agents across the southeast region. During these trainings, it is imperative that I delegate roles to ensure that all pertinent topics can be covered in a timely and efficient manner.
                </li>
                <li>With a client base in the 1,000s and over $1 billion in assets under management, I have learned to excel in presentation, customer service, and conflict resolution.
                </li>
                <li>Strong attention to detail. When filling out applications I must ensure that all paperwork is filled out properly and all rules and regulations are followed in the storing and submission of the paperwork. Additionally, I must check the work of other agents and ensure all protocols have been properly followed.
                </li>
            </ul>
        </div>
</div>

<div class="container-lg text-right">
    <div class="row">
        <div class="col-md-6 ms-auto d-flex align-items-center justify-content-end">
            <h4 class="me-3 about-question">Want to know more about Tyler's Career History?</h4>
            <%= link_to "Click Here For More", resume_path, class: "btn btn-primary mt-3" %>
        </div>
    </div>
</div>
