<div class="container text-center">
<h1>Under Construction!<br> Please check back later.</h1>
    <br>
    <br>
    <%= image_tag("Sith.png", alt: "Lego Sith", class: "img-fluid sith_photo") %>
    <br>
    <br>
    <br>
</div>