<body>
    <header>

    </header>

    <main class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="index_job_titles">Front End Developer <br> & <br> Finance Manager</h2>

                </div>
                <div class="col-md-6">
                    <%= image_tag("2023_Headshot.jpeg", alt: "Tyler's Headshot", class: "img-fluid") %>
                </div> 
                    




               <div class="col-md-5">
               <p>Test</p>
               </div> 
            </div>
        </div>
    </main>


</body>
